<a href="https://colab.research.google.com/github/Prajakta-ctrl/Python-Basics-Assignment/blob/main/Data_Structure_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Theory Based Questions:

Que.1.These are the fundamental tools inthe programming that stores the data in a computer. It is important because it  stores or arrange the data in a systematic way that leads to the fast software.

Que.2.Mutable data types are those data types which can be modified after declaration while the immutable data types are those data types which cannot be changed or modified once get declared. Like lists can be modified after declaration i.e. lists are mutable data types while tuples or strings cannot be changed or modified after declaration i.e. tuples and strings are immutable data types.

Que.3.The main difference between the lists and tuples is that the lists are mutable data types that it can be modified after declaration but the tuples cannot changed that tuples are immutable data types.

Que.4.Data type dictionary stores the data in the form of key value pair that data given must be in the form of key value pair in which the keys are of immutable type while values can be mutable.

Que.5.Usually sets are used instead of lists in python because set contains unordered collection of unique elements while list contains ordered collection of the elements that can also contain duplicate values. Lists contain duplicate values while set automatically removes the duplicate values therefore sets are used instead of lists in python.

Que.6.String in a python is just a sequence of characters which represents a given text or given paragraph. String is a data type different from list in a way that a string is immutable that it cannot be changed or modified once declared while a list is mutable data structure that it can be modified once get declared.

Que.7.The tuples ensure the data integrity because of their immutability type of data structure.

Que.8.The hash table is a type of data structure that stores the pair of key value and assigns the value as hash. It relate the dictionaries as the key value pair is stored in dictionary by default function hash().

Que.9.Yes the lists can contain the different types of data structures like string, tuple, etc.

Que.10.Strings are immutable for the purpose of memory efficiency and for the other safety majors.

Que.11.As the lists can contain duplicate values while dictionaries cannot allow the duplicate keys in it that it is an advantage of dictionary over list. Also in the lists slicing can be done while in dictionary it is not possible that it is also an advantage.

Que.12.Scenario like in certain offices they should maintain the employee data and some information like adhaar or employee ID cannot be same and these things are unchangeable for that employee that the tuple helps here to maintain this in the that tuple cannot allow to modify the data while lists allow to modify the data once get declared.

Que.13.The sets automatically removes the duplicate values where it can only contain the unique values in it.

Que.14.The in operator functions differently for the lists and dictionaries like in operator in lists used to check whether an element is present in list or not and it searches sequentially while for dictionaries in operator only check for the keys not for the values in dictionaries.

Que.15.We cannot modify the elements of tuples as the data structure tuple is immutable type data structure therefore we cannot modify elements within tuples.

Que.16.The nested dictionary refers to those dictionaries that contains the dictionaries within the dictionary.

Que.17.Dictionaries take the constant time for accessing the elements within the dictionary.

Que.18.For the ordered sequences like stack the lists are preferred over the Dictionaries as the dictionaries are of unordered sequences.

Que 19.The dictionaries are considered as unordered sequences because they do not maintain any order of the item.

Que.20.Lists are the ordered collection of the elements or items while the Dictionaries are unordered collection of items in the form of key value pairs.

Practical Based Questions:

In [ ]:
#Que.1.
username=input("enter your name: ")
print("name of the user is: ",username)

enter your name: Prajakta Sarade
name of the user is:  Prajakta Sarade

In [ ]:
#Que.2.
string="Hello World"
lengthofstring=len(string)
print("the length of the given string is: ",lengthofstring)

the length of the given string is:  11

In [ ]:
#Que.3.
string="Python Programming"
slicedcharacters=string[0:3]
print("the first three characters are: ",slicedcharacters)

the first three characters are:  Pyt

In [ ]:
#Que.4.
string="hello"
uppercasestring=string.upper()
print("the given string in uppercase is: ",uppercasestring)

the given string in uppercase is:  HELLO

In [ ]:
#Que.5.
string="i like apple"
replacedstring=string.replace("apple","orange")
print("the replaced string is: ",replacedstring)

the replaced string is:  i like orange

In [ ]:
#Que.6.
list=[]
for i in range(1,6):
  list.append(i)
print("list containing numbers is: ", list)

list containing numbers is:  [1, 2, 3, 4, 5]

In [ ]:
#Que.7.
list=[1,2,3,4]
list.append(10)
print("new list is: ",list)

new list is:  [1, 2, 3, 4, 10]

In [ ]:
#Que.8.
list=[1,2,3,4,5]
list.remove(3)
print("new list is: ",list)

new list is:  [1, 2, 4, 5]

In [ ]:
#Que.9.
list=['a','b','c','d']
secondelement=list[1]
print("the second element in list is: ",secondelement)

the second element in list is:  b

In [ ]:
#Que.10.
list=[10,20,30,40,50]
newlist=list[::-1]
print("the new list is: ",newlist)

the new list is:  [50, 40, 30, 20, 10]

In [ ]:
#Que.11.
tuple=(100,200,300)
print("the tuple is: ",tuple)

the tuple is:  (100, 200, 300)

In [ ]:
#Que.12.
list=['red','green','blue','yellow']
newlist=list[1::]
print("the accessed elements are: ",newlist)

the accessed elements are:  ['green', 'blue', 'yellow']

In [ ]:
#Que.13.
tuple=(10,20,5,15)
minvalue=min(tuple)
print("the minimum value in tuple is: ",minvalue)

the minimum value in tuple is:  5

In [ ]:
#Que.14.
tuple=('dog','cat','rabbit')
catindex=tuple.index("cat")
print("the index of the cat is: ",catindex)

the index of the cat is:  1

In [ ]:
#Que.15.
tuple=('apple','peach','kiwi')
for i in tuple:
  if 'kiwi' in i:
    print("yes kiwi is present in tuple")

yes kiwi is present in tuple

In [ ]:
#Que.16.
myset=('a','b','c')
print("the set is: ",set(myset))

the set is:  {'b', 'a', 'c'}

In [ ]:
#Que.17.
myset={1,2,3,4,5}
clearingset=myset.clear()
print("the cleared set is: ",myset)

the cleared set is:  set()

In [ ]:
#Que.18.
myset={1,2,3,4}
newset=myset.remove(4)
print("new set is: ",myset)

new set is:  {1, 2, 3}

In [ ]:
#Que.19.
setA={1,2,3}
setB={3,4,5}
unionset=setA.union(setB)
print("the united set is: ",unionset)

the united set is:  {1, 2, 3, 4, 5}

In [ ]:
#Que.20.
setA={1,2,3}
setB={2,3,4}
intersectionset=setA.intersection(setB)
print("the intersection of the sets is: ",intersectionset)

the intersection of the sets is:  {2, 3}

In [ ]:
#Que.21.
username=input("enter a name: ")
userage=int(input("enter age: "))
usercity=input("enter city name: ")
data=dict(name=username,age=userage,city=usercity)
print("the created dictionary is: ",data)

enter a name: Prajakta
enter age: 18
enter city name: Omerga
the created dictionary is:  {'name': 'Prajakta ', 'age': 18, 'city': 'Omerga'}

In [ ]:
#Que.22.
dictionary={'name':'John','age':25}
dictionary['country']='USA'
print("the dictionary after adding new key-value pair is: ",dictionary)

the dictionary after adding new key-value pair is:  {'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#Que.23.
dictionary={'name':'Alice','age':30}
accessedvalue=dictionary.get('name')
print("the accessed value is: ",accessedvalue)

the accessed value is:  Alice

In [ ]:
#Que.24.
dictionary={'name':'Bob','age':22,'city':'New York'}
del dictionary['age']
print("the new dictinary is: ",dictionary)

the new dictinary is:  {'name': 'Bob', 'city': 'New York'}

In [ ]:
#Que.25.
dictionary={'name':'Alice','city':'Paris'}
if 'city' in dictionary:
  print("city exists in dictionary")
else:
  print("city does not exists in dictionary")

city exists in dictionary

In [ ]:
#Que.26.
list1=[23,'Programming',2007,(22,8,2004),'Python']
tuple1=(22,)
dictionary={'name':'Programmer','age':18,'studying':'coding'}
print("the list created is: ",list1)
print("the tuple created is: ",tuple1)
print("the dictionary created is: ",dictionary)

the list created is:  [23, 'Programming', 2007, (22, 8, 2004), 'Python']
the tuple created is:  (22,)
the dictionary created is:  {'name': 'Programmer', 'age': 18, 'studying': 'coding'}

In [ ]:
#Que.27.
import random
list1=[]
for i in range(5):
  newlist=random.randint(1,101)
  list1.append(newlist)
print("the list of random numbers is: ",list1)
list1.sort()
print("the sorted list is: ",list1)

the list of random numbers is:  [15, 67, 97, 46, 92]
the sorted list is:  [15, 46, 67, 92, 97]

In [ ]:
#Que.28.
list1=['Python','Java','MySQL','C++','R','Javascript']
element=list1[3]
print("the element at 3rd index is: ",element)

the element at 3rd index is:  C++

In [ ]:
#Que.29.
dict1={'name':'john','age':20}
dict2={'city':'jaipur','country':'India'}
dict1.update(dict2)
print("the combined dictionary is: ",dict1)

the combined dictionary is:  {'name': 'john', 'age': 20, 'city': 'jaipur', 'country': 'India'}

In [ ]:
#Que.30.
Mylist=["Python","Java","C++"]
Myset=set(Mylist)
print("the set of strings is: ",Myset)

the set of strings is:  {'C++', 'Java', 'Python'}